@import 'react-multi-carousel/lib/styles.css';
@import 'react-loading-skeleton/dist/skeleton.css';
@import '@mantine/core/styles.css';
@import '@mantine/dropzone/styles.css';
@import '@mantine/dates/styles.css';

@layer tailwind {
    @tailwind base;
}

@tailwind components;
@tailwind utilities;

@layer components {
    textarea:focus,
    input:focus {
        outline: none;
    }

    .modal *::-webkit-scrollbar-thumb {
        background-color: transparent;
    }
    .modal *::-webkit-scrollbar-track {
        background-color: transparent;
    }

    .category-list-wrapper *::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    .category-list-wrapper *::-webkit-scrollbar-thumb {
        background-color: transparent;
    }

    .category-list-wrapper *::-webkit-scrollbar-track {
        background-color: transparent;
    }

    .input-search-location:hover,
    .service-search-location:hover {
        box-shadow: inset 0 0 0 0.125rem #a9afbb;
    }

    .input-search-location:focus-within,
    .service-search-location:focus-within {
        box-shadow: inset 0 0 0 0.125rem #121417;
    }

    .list-category {
        content: '';
        box-shadow: #393a3b 0 2px 0;
    }

    .animation-search-big-bar {
        transition:
            transform 250ms ease,
            opacity 150ms 100ms ease,
            visibility 0ms 125ms;
    }

    .animation-search-small-bar {
        transition:
            transform 250ms ease,
            opacity 250ms ease,
            visibility 0ms 125ms;
    }

    .animation-header {
        transition: height 250ms ease;
    }

    .transform-scale-search-big {
        transform: scale(0.41, 0.7272727272727273) translateY(-3.25rem);
        visibility: hidden;
        opacity: 0;
    }

    .transform-scale-search-small {
        transform: scale(2.4390243902439024, 1.375) translateY(3.25rem);
        visibility: hidden;
        opacity: 0;
    }

    .text-truncation {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .modal-wrapper {
        align-items: center;
        display: flex;
        inset: 0;
        justify-content: center;
        position: fixed;
        z-index: 1000;
    }

    .modal-mask {
        background: rgba(0, 0, 0, 0.5);
        position: fixed;
        inset: 0px;
    }

    .modal-container {
        border-radius: 8px;
        transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
        transform: none;
        margin: auto;
        position: relative;
        max-height: 693px;
        height: 80%;
        overflow: hidden;
        background-color: rgb(255, 255, 255);
    }

    .maintine-input-inner {
        height: 100%;
        width: calc(100% - 40px);
        background-color: rgb(58, 59, 60);
        padding-left: 4px;
        font-size: base;
        color: white;
        font-family: sans-serif;
    }
    .maintine-input-inner:hover {
        background-color: rgb(80, 82, 83);
    }

    .maintine-input-inner:focus {
        background-color: rgb(80, 82, 83);
    }

    .maintine-input-inner:disabled {
        opacity: 1;
    }

    .studip-pin-container {
        position: absolute;
        transform: translate(calc(-50% + 0px), calc(50% + 0px));
        left: 50%;
    }

    .studio-pin-container::before {
        content: '';
        position: absolute;
        height: 50px;
        width: 60px;
        top: 50%;
        left: 50%;
        cursor: pointer;
        transform: translate(-50%, -50%);
    }

    .studio-overlay-view {
        bottom: 0px;
        z-index: 0;
        position: absolute;
    }

    .studio-overlay-view.bottom {
        transform: translate(calc(-50% + 0px), calc(100% + 31.078px));
    }

    .studio-overlay-view.top {
        transform: translate(calc(-50% + 0px), calc(0% + -31.078px));
    }

    .studio-overlay-view.center {
        transform: translate(calc(-50% + 0px), calc(50% + 0px));
    }

    .studio-overlay-view.left {
        transform: translate(calc(-100% + -37.8631px), calc(50% + 0px));
    }

    .studio-overlay-view.right {
        transform: translate(calc(0% + 37.8631px), calc(50% + 0px));
    }
}

:root {
    --dark-theme: #18191a;
    --gray-dark: #242526;
    --search-gray-dark: #3a3b3c;
    --button-primary: #ff3b5c;
    --hover-button-primary: #fe2c55;
    --fc-event-bg-color: var(--mantine-primary-color-filled-hover);
    --fc-small-font-size: 0.875rem;
    --fc: var(--button-hover, var(--mantine-primary-color-filled-hover));
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
/* 
html *::-webkit-scrollbar-thumb {
    background-color: #ff3b5c;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

html *::-webkit-scrollbar-track {
    background-color: #424249;
}

html *::-webkit-scrollbar {
    @media (max-width: 992px) {
        width: 0;
        height: 0;
    }
    width: 5px;
    height: 5px;
    background-color: transparent;
} */

/* .mantine-DatePickerInput-wrapper {
    height: 100%;
    font-size: inherit;
    font-weight: inherit;
} */
.fc-basic-view .fc-body .fc-row {
    min-height: 1em;
}

.fc-timegrid-slots table tbody tr {
    height: 200px;
}

.fc-theme-standard td,
.fc-theme-standard th {
    border: 1px solid var(--_app-shell-border-color);
}
.fc-theme-standard .fc-scrollgrid {
    border: 1px solid var(--_app-shell-border-color);
}

.fc .fc-scrollgrid-section-sticky > * {
    background-color: transparent;
}

.fc-timegrid-event .fc-event-time {
    font-weight: 500;
}
/* 
.fc-timegrid-event-harness:hover {
    z-index: 100 !important;
    scale: 1.1;
    transition: all 0.2s ease-in-out;
} */

.fc-event-main {
    cursor: pointer;
}
