@import 'react-multi-carousel/lib/styles.css';
@import 'react-loading-skeleton/dist/skeleton.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    textarea:focus,
    input:focus {
        outline: none;
    }

    header::after {
        content: '';
        transition: transform 250ms cubic-bezier(0.2, 0, 0, 1);
        transform-origin: 50% 0%;
        box-shadow: #393a3b 0 2px 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
        height: 100%;
    }

    header.scale-header::after {
        transform: scaleY(2);
        box-shadow: #393a3b 0 1px 0;
    }

    .modal *::-webkit-scrollbar-thumb {
        background-color: transparent;
    }
    .modal *::-webkit-scrollbar-track {
        background-color: transparent;
    }

    .category-list-wrapper *::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    .category-list-wrapper *::-webkit-scrollbar-thumb {
        background-color: transparent;
    }

    .category-list-wrapper *::-webkit-scrollbar-track {
        background-color: transparent;
    }

    .input-search-location:hover,
    .service-search-location:hover {
        box-shadow: inset 0 0 0 0.125rem #a9afbb;
    }

    .input-search-location:focus-within,
    .service-search-location:focus-within {
        box-shadow: inset 0 0 0 0.125rem #121417;
    }

    .list-category {
        content: '';
        box-shadow: #393a3b 0 2px 0;
    }

    .animation-search-big-bar {
        transition:
            transform 250ms ease,
            opacity 150ms 100ms ease,
            visibility 0ms 125ms;
    }

    .animation-search-small-bar {
        transition:
            transform 250ms ease,
            opacity 250ms ease,
            visibility 0ms 125ms;
    }

    .animation-header {
        transition: height 250ms ease;
    }

    .transform-scale-search-big {
        transform: scale(0.41, 0.7272727272727273) translateY(-3.25rem);
        visibility: hidden;
        opacity: 0;
    }

    .transform-scale-search-small {
        transform: scale(2.4390243902439024, 1.375) translateY(3.25rem);
        visibility: hidden;
        opacity: 0;
    }

    .text-truncation {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .modal-wrapper {
        align-items: center;
        display: flex;
        inset: 0;
        justify-content: center;
        position: fixed;
        z-index: 1000;
    }

    .modal-mask {
        background: rgba(0, 0, 0, 0.5);
        position: fixed;
        inset: 0px;
    }

    .modal-container {
        border-radius: 8px;
        transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
        transform: none;
        margin: auto;
        position: relative;
        max-height: 693px;
        height: 80%;
        overflow: hidden;
        background-color: rgb(255, 255, 255);
    }

    .modal-container::-webkit-scrollbar {
        width: 0;
    }

    .modal-container::-webkit-scrollbar-track {
        -webkit-box-shadow: none;
    }

    /* ::-webkit-scrollbar-thumb {
        background: white;
        -webkit-box-shadow: none;
    }
    
    ::-webkit-scrollbar-thumb:window-inactive {
        background: none;
    } */

    .maintine-input-inner {
        height: 100%;
        width: calc(100% - 40px);
        background-color: rgb(58, 59, 60);
        padding-left: 4px;
        font-size: base;
        color: white;
        font-family: sans-serif;
    }
    .maintine-input-inner:hover {
        background-color: rgb(80, 82, 83);
    }

    .maintine-input-inner:focus {
        background-color: rgb(80, 82, 83);
    }

    .maintine-input-inner:disabled {
        opacity: 1;
    }

    .studip-pin-container {
        position: absolute;
        transform: translate(calc(-50% + 0px), calc(50% + 0px));
        left: 50%;
    }

    .studio-pin-container::before {
        content: '';
        position: absolute;
        height: 50px;
        width: 60px;
        top: 50%;
        left: 50%;
        cursor: pointer;
        transform: translate(-50%, -50%);
    }

    .studio-overlay-view {
        bottom: 0px;
        z-index: 0;
        position: absolute;
    }

    .studio-overlay-view.bottom {
        transform: translate(calc(-50% + 0px), calc(100% + 31.078px));
    }

    .studio-overlay-view.top {
        transform: translate(calc(-50% + 0px), calc(0% + -31.078px));
    }

    .studio-overlay-view.center {
        transform: translate(calc(-50% + 0px), calc(50% + 0px));
    }

    .studio-overlay-view.left {
        transform: translate(calc(-100% + -37.8631px), calc(50% + 0px));
    }

    .studio-overlay-view.right {
        transform: translate(calc(0% + 37.8631px), calc(50% + 0px));
    }

    @media (max-width: 640px) {
        p {
            font-size: 14px;
        }
        span {
            font-size: 12px !important;
        }
        input {
            font-size: 16px;
        }
    }
}

:root {
    --dark-theme: #18191a;
    --gray-dark: #242526;
    --search-gray-dark: #3a3b3c;
    --button-primary: #ff3b5c;
    --hover-button-primary: #fe2c55;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

html *::-webkit-scrollbar-thumb {
    background-color: #ff3b5c;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

html *::-webkit-scrollbar-track {
    background-color: #424249;
}

html *::-webkit-scrollbar {
    @media (max-width: 992px) {
        width: 0;
        height: 0;
    }
    width: 5px;
    height: 5px;
    background-color: transparent;
}

.mantine-DatePickerInput-wrapper {
    height: 100%;
    font-size: inherit;
    font-weight: inherit;
}

.mantine-DatePickerInput-input {
    height: inherit;
    color: white;
    font-size: 16px;
    font-family: sans-serif;
}

.mantine-DatePickerInput-placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: rgba(176, 179, 184, 0.7);
}

.other h2 {
    font-size: 18px;
    margin-bottom: 7px;
}

.other a {
    text-decoration: underline;
    font-size: 14px;
}

.other ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.ltr {
    text-align: left;
}

.rtl {
    text-align: right;
}

.editor-container {
    position: relative;
    border-radius: 2px;
    line-height: 24px;
    font-weight: 400;
    text-align: left;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.editor-image {
    height: fit-content;
    display: block;
    width: 100%;
}

.editor-inner {
    position: relative;
}

.editor-input {
    min-height: 150px;
    resize: none;
    font-size: 16px;
    caret-color: red;
    position: relative;
    tab-size: 1;
    outline: 0;
    padding: 15px 0;
    /* caret-color: #444; */
}

.editor-placeholder {
    color: #999;
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    top: 15px;
    left: 10px;
    font-size: 16px;
    font-weight: 500;
    user-select: none;
    display: inline-block;
    pointer-events: none;
}

.editor-text-bold {
    font-weight: 600;
}

.editor-text-italic {
    font-style: italic;
}

.editor-text-underline {
    text-decoration: underline;
}

.editor-text-strikethrough {
    text-decoration: line-through;
}

.editor-text-underlineStrikethrough {
    text-decoration: underline line-through;
}

.editor-text-code {
    background-color: rgb(240, 242, 245);
    padding: 1px 0.25rem;
    font-family: Menlo, Consolas, Monaco, monospace;
    font-size: 94%;
}

.editor-link {
    color: var(--mantine-color-blue-filled);
    text-decoration: none;
}

.editor-link:hover {
    text-decoration: underline;
}

.tree-view-output {
    display: block;
    background: #222;
    color: #fff;
    padding: 5px;
    font-size: 12px;
    white-space: pre-wrap;
    margin: 1px auto 10px auto;
    max-height: 250px;
    position: relative;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: auto;
    line-height: 14px;
}

.editor-code {
    background-color: rgb(240, 242, 245);
    font-family: Menlo, Consolas, Monaco, monospace;
    display: block;
    padding: 8px 8px 8px 52px;
    line-height: 1.53;
    font-size: 13px;
    margin: 0;
    margin-top: 8px;
    margin-bottom: 8px;
    tab-size: 2;
    /* white-space: pre; */
    overflow-x: auto;
    position: relative;
}

.editor-code:before {
    content: attr(data-gutter);
    position: absolute;
    background-color: #eee;
    left: 0;
    top: 0;
    border-right: 1px solid #ccc;
    padding: 8px;
    color: #777;
    white-space: pre-wrap;
    text-align: right;
    min-width: 25px;
}
.editor-code:after {
    content: attr(data-highlight-language);
    top: 0;
    right: 3px;
    padding: 3px;
    font-size: 10px;
    text-transform: uppercase;
    position: absolute;
    color: rgba(0, 0, 0, 0.5);
}

.editor-tokenComment {
    color: slategray;
}

.editor-tokenPunctuation {
    color: #999;
}

.editor-tokenProperty {
    color: #905;
}

.editor-tokenSelector {
    color: #690;
}

.editor-tokenOperator {
    color: #9a6e3a;
}

.editor-tokenAttr {
    color: #07a;
}

.editor-tokenVariable {
    color: #e90;
}

.editor-tokenFunction {
    color: #dd4a68;
}

.editor-paragraph {
    margin: 0;
    margin-bottom: 8px;
    position: relative;
    font-weight: 500;
    font-size: 14px;
}

.editor-paragraph:last-child {
    margin-bottom: 0;
}

.editor-heading-h1 {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 12px;
    padding: 0;
}

.editor-heading-h2 {
    margin: 0;
    font-size: 24px !important;
    font-weight: 900 !important;
    line-height: 31px;
    margin-top: 16px;
    margin-bottom: 8px;
    padding: 0;
}

.editor-quote {
    margin: 0;
    margin-left: 20px;
    font-size: 15px;
    color: rgb(101, 103, 107);
    border-left-color: rgb(206, 208, 212);
    border-left-width: 4px;
    border-left-style: solid;
    padding-left: 16px;
}

.editor-list-ol {
    padding: 0;
    margin: 0;
    margin-left: 16px;
    list-style-type: decimal;
}

.editor-list-ul {
    padding-left: 32px;
    margin: 0;
    list-style-type: disc;
}

.editor-listitem {
    list-style-type: inherit;
    font-size: 16px;
    font-weight: 500;
}

.editor-nested-listitem {
    list-style-type: none;
}

pre::-webkit-scrollbar {
    background: transparent;
    width: 10px;
}

pre::-webkit-scrollbar-thumb {
    background: #999;
}

.debug-timetravel-panel {
    overflow: hidden;
    padding: 0 0 10px 0;
    margin: auto;
    display: flex;
}

.debug-timetravel-panel-slider {
    padding: 0;
    flex: 8;
}

.debug-timetravel-panel-button {
    padding: 0;
    border: 0;
    background: none;
    flex: 1;
    color: #fff;
    font-size: 12px;
}

.debug-timetravel-panel-button:hover {
    text-decoration: underline;
}

.debug-timetravel-button {
    border: 0;
    padding: 0;
    font-size: 12px;
    top: 10px;
    right: 15px;
    position: absolute;
    background: none;
    color: #fff;
}

.debug-timetravel-button:hover {
    text-decoration: underline;
}

.emoji {
    color: transparent;
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin: 0 -1px;
}

.emoji-inner {
    padding: 0 0.15em;
}

.emoji-inner::selection {
    color: transparent;
    background-color: rgba(150, 150, 150, 0.4);
}

.emoji-inner::moz-selection {
    color: transparent;
    background-color: rgba(150, 150, 150, 0.4);
}

.image-introduce {
    height: inherit;
    width: 100%;
    margin: 5px auto;
}

.toolbar {
    display: flex;
    justify-content: center;
    margin-bottom: 1px;
    background: #fff;
    padding: 4px;
    border-radius: 10px;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    position: sticky;
    top: 82px;
    z-index: 100;
    vertical-align: middle;
}

.toolbar button.toolbar-item {
    border: 0;
    display: flex;
    background: none;
    border-radius: 10px;
    padding: 8px;
    cursor: pointer;
    vertical-align: middle;
}

.toolbar button.toolbar-item:disabled {
    cursor: not-allowed;
}

.toolbar button.toolbar-item.spaced {
    margin-right: 2px;
}

.toolbar button.toolbar-item i.format {
    background-size: contain;
    display: inline-block;
    height: 18px;
    width: 18px;
    margin-top: 2px;
    vertical-align: -0.25em;
    display: flex;
    opacity: 0.6;
}

.toolbar button.toolbar-item:disabled i.format {
    opacity: 0.2;
}

.toolbar button.toolbar-item.active {
    background-color: rgba(223, 232, 250, 0.3);
}

.toolbar button.toolbar-item.active i {
    opacity: 1;
}

.toolbar .toolbar-item:hover:not([disabled]) {
    background-color: #eee;
}

.toolbar .divider {
    width: 1px;
    background-color: #eee;
    margin: 0 4px;
}

.toolbar select.toolbar-item {
    border: 0;
    display: flex;
    background: none;
    border-radius: 10px;
    padding: 8px;
    vertical-align: middle;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    width: 70px;
    font-size: 14px;
    color: #777;
    text-overflow: ellipsis;
}

.toolbar select.code-language {
    text-transform: capitalize;
    width: 130px;
}

.toolbar .toolbar-item .text {
    display: flex;
    line-height: 20px;
    width: 200px;
    vertical-align: middle;
    font-size: 14px;
    color: #777;
    text-overflow: ellipsis;
    width: 70px;
    overflow: hidden;
    height: 20px;
    text-align: left;
}

.toolbar .toolbar-item .icon {
    display: flex;
    width: 20px;
    height: 20px;
    user-select: none;
    margin-right: 8px;
    line-height: 16px;
    background-size: contain;
}

.toolbar i.chevron-down {
    margin-top: 3px;
    width: 16px;
    height: 16px;
    display: flex;
    user-select: none;
}

.toolbar i.chevron-down.inside {
    width: 16px;
    height: 16px;
    display: flex;
    margin-left: -25px;
    margin-top: 11px;
    margin-right: 10px;
    pointer-events: none;
}

i.chevron-down {
    background-color: transparent;
    background-size: contain;
    display: inline-block;
    height: 8px;
    width: 8px;
    background-image: url(/img/icons/chevron-down.svg);
}

#block-controls button:hover {
    background-color: #efefef;
}

#block-controls button:focus-visible {
    border-color: blue;
}

#block-controls span.block-type {
    background-size: contain;
    display: block;
    width: 18px;
    height: 18px;
    margin: 2px;
}

#block-controls span.block-type.paragraph {
    background-image: url(/img/icons/text-paragraph.svg);
}

#block-controls span.block-type.h1 {
    background-image: url(/img/icons/type-h1.svg);
}

#block-controls span.block-type.h2 {
    background-image: url(/img/icons/type-h2.svg);
}

#block-controls span.block-type.quote {
    background-image: url(/img/icons/chat-square-quote.svg);
}

#block-controls span.block-type.ul {
    background-image: url(/img/icons/list-ul.svg);
}

#block-controls span.block-type.ol {
    background-image: url(/img/icons/list-ol.svg);
}

#block-controls span.block-type.code {
    background-image: url(/img/icons/code.svg);
}

.dropdown {
    z-index: 5;
    top: 50px;
    display: block;
    position: absolute;
    box-shadow:
        0 12px 28px 0 rgba(0, 0, 0, 0.2),
        0 2px 4px 0 rgba(0, 0, 0, 0.1),
        inset 0 0 0 1px rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    min-width: 100px;
    min-height: 40px;
    background-color: #fff;
}

.dropdown .item {
    margin: 0 8px 0 8px;
    padding: 8px;
    color: #050505;
    cursor: pointer;
    line-height: 16px;
    font-size: 15px;
    display: flex;
    align-content: center;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 8px;
    border: 0;
    min-width: 268px;
}

.dropdown .item .active {
    display: flex;
    width: 20px;
    height: 20px;
    background-size: contain;
}

.dropdown .item:first-child {
    margin-top: 8px;
}

.dropdown .item:last-child {
    margin-bottom: 8px;
}

.dropdown .item:hover {
    background-color: #eee;
}

.dropdown .item .text {
    display: flex;
    line-height: 20px;
    flex-grow: 1;
    width: 200px;
}

.dropdown .item .icon {
    display: flex;
    width: 20px;
    height: 20px;
    user-select: none;
    margin-right: 12px;
    line-height: 16px;
    background-size: contain;
}

.link-editor {
    position: absolute;
    z-index: 100;
    top: -10000px;
    left: -10000px;
    margin-top: -6px;
    max-width: 300px;
    width: 100%;
    opacity: 0;
    background-color: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    transition: opacity 0.5s;
}

.link-editor .link-input {
    display: block;
    width: calc(100% - 24px);
    box-sizing: border-box;
    margin: 8px 12px;
    padding: 8px 12px;
    border-radius: 15px;
    background-color: #eee;
    font-size: 15px;
    color: rgb(5, 5, 5);
    border: 0;
    outline: 0;
    position: relative;
    font-family: inherit;
}

.link-editor div.link-edit {
    background-image: url(/img/icons/pencil-fill.svg);
    background-size: 16px;
    background-position: center;
    background-repeat: no-repeat;
    width: 35px;
    vertical-align: -0.25em;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
}

.link-editor .link-input a {
    color: rgb(33, 111, 219);
    text-decoration: none;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 30px;
    text-overflow: ellipsis;
}

.link-editor .link-input a:hover {
    text-decoration: underline;
}

.link-editor .button {
    width: 20px;
    height: 20px;
    display: inline-block;
    padding: 6px;
    border-radius: 8px;
    cursor: pointer;
    margin: 0 2px;
}

.link-editor .button.hovered {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: #eee;
}

.link-editor .button i,
.actions i {
    background-size: contain;
    display: inline-block;
    height: 20px;
    width: 20px;
    vertical-align: -0.25em;
}

i.undo {
    background-image: url('/img/icons/arrow-counterclockwise.svg');
}

i.redo {
    background-image: url('/img/icons/arrow-clockwise.svg');
}

.icon.paragraph {
    background-image: url('/img/icons/text-paragraph.svg');
}

.icon.large-heading,
.icon.h1 {
    background-image: url('/img/icons/type-h1.svg');
}

.icon.small-heading,
.icon.h2 {
    background-image: url('/img/icons/type-h2.svg');
}

.icon.bullet-list,
.icon.ul {
    background-image: url('/img/icons/list-ul.svg');
}

.icon.numbered-list,
.icon.ol {
    background-image: url('/img/icons/list-ol.svg');
}

.icon.quote {
    background-image: url('/img/icons/chat-square-quote.svg');
}

.icon.code {
    background-image: url('/img/icons/code.svg');
}

i.bold {
    background-image: url('/img/icons/type-bold.svg');
}

i.italic {
    background-image: url('/img/icons/type-italic.svg');
}

i.underline {
    background-image: url('/img/icons/type-underline.svg');
}

i.strikethrough {
    background-image: url('/img/icons/type-strikethrough.svg');
}

i.code {
    background-image: url('/img/icons/code.svg');
}

i.image {
    background-image: url('/img/icons/imgae.svg');
}
i.check {
    background-image: url('/img/icons/check.svg');
}

i.link {
    background-image: url('/img/icons/link.svg');
}

i.table {
    background-image: url('/img/icons/table.svg');
}

i.left-align {
    background-image: url('/img/icons/text-left.svg');
}

i.center-align {
    background-image: url('/img/icons/text-center.svg');
}

i.right-align {
    background-image: url('/img/icons/text-right.svg');
}

i.justify-align {
    background-image: url('/img/icons/justify.svg');
}

.editor-table {
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
    overflow-y: scroll;
    table-layout: fixed;
    /* width: calc(100% - 25px); */
    width: 100%;
    margin: 30px 0;
}
.editor-tableSelection *::selection {
    background-color: transparent;
}
.editor-tableSelected {
    outline: 2px solid rgb(60, 132, 244);
}
.editor-tableCell {
    border: 1px solid #bbb;
    min-width: 75px;
    vertical-align: top;
    text-align: start;
    padding: 6px 8px;
    position: relative;
    outline: none;
    width: 100% !important;
}
.editor-tableCellSortedIndicator {
    display: block;
    opacity: 0.5;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #999;
}
.editor-tableCellResizer {
    position: absolute;
    right: -4px;
    height: 100%;
    width: 8px;
    cursor: ew-resize;
    z-index: 10;
    top: 0;
}
.editor-tableCellHeader {
    background-color: #fff !important;
    text-align: start;
}
.editor-tableCellSelected {
    background-color: #c9dbf0;
}
.editor-tableCellPrimarySelected {
    border: 2px solid rgb(60, 132, 244);
    display: block;
    height: calc(100% - 2px);
    position: absolute;
    width: calc(100% - 2px);
    left: -1px;
    top: -1px;
    z-index: 2;
}
.editor-tableCellEditing {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    border-radius: 3px;
}
.editor-tableAddColumns {
    position: absolute;
    top: 0;
    width: 20px;
    background-color: #eee;
    height: 100%;
    right: 0;
    animation: table-controls 0.2s ease;
    border: 0;
    cursor: pointer;
}
.editor-tableAddColumns:after {
    background-image: url('/img/icons/plus.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}
.editor-tableAddColumns:hover {
    background-color: #c9dbf0;
}
.editor-tableAddRows {
    position: absolute;
    bottom: -25px;
    width: calc(100% - 25px);
    background-color: #eee;
    height: 20px;
    left: 0;
    animation: table-controls 0.2s ease;
    border: 0;
    cursor: pointer;
}
.editor-tableAddRows:after {
    background-image: url('/img/icons/plus.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}
.editor-tableAddRows:hover {
    background-color: #c9dbf0;
}
@keyframes table-controls {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.editor-tableCellResizeRuler {
    display: block;
    position: absolute;
    width: 1px;
    background-color: rgb(60, 132, 244);
    height: 100%;
    top: 0;
}
.editor-tableCellActionButtonContainer {
    display: block;
    right: 5px;
    top: 6px;
    position: absolute;
    z-index: 4;
    width: 20px;
    height: 20px;
}
.editor-tableCellActionButton {
    background-color: #eee;
    display: block;
    border: 0;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    color: #222;
    cursor: pointer;
}
.editor-tableCellActionButton:hover {
    background-color: #ddd;
}

.TableNode__contentEditable {
    min-height: 20px;
    border: 0px;
    resize: none;
    cursor: text;
    display: block;
    position: relative;
    outline: 0px;
    padding: 0;
    user-select: text;
    font-size: 15px;
    white-space: pre-wrap;
    word-break: break-word;
    z-index: 3;
}
