@import 'react-multi-carousel/lib/styles.css';
@import 'react-toastify/dist/ReactToastify.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    textarea:focus,
    input:focus {
        outline: none;
    }

    header::after {
        content: '';
        transition: transform 250ms cubic-bezier(0.2, 0, 0, 1);
        transform-origin: 50% 0%;
        box-shadow: #393a3b 0 2px 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
        height: 100%;
    }

    header.scale-header::after {
        transform: scaleY(2);
        box-shadow: #393a3b 0 1px 0;
    }

    .modal *::-webkit-scrollbar-thumb {
        background-color: transparent;
    }
    .modal *::-webkit-scrollbar-track {
        background-color: transparent;
    }

    .input-search-location:hover,
    .service-search-location:hover {
        box-shadow: inset 0 0 0 0.125rem #a9afbb;
    }

    .input-search-location:focus-within,
    .service-search-location:focus-within {
        box-shadow: inset 0 0 0 0.125rem #121417;
    }

    .list-category {
        content: '';
        box-shadow: #393a3b 0 2px 0;
    }

    .animation-search-big-bar {
        transition:
            transform 250ms ease,
            opacity 150ms 100ms ease,
            visibility 0ms 125ms;
    }

    .animation-search-small-bar {
        transition:
            transform 250ms ease,
            opacity 250ms ease,
            visibility 0ms 125ms;
    }

    .animation-header {
        transition: height 250ms ease;
    }

    .transform-scale-search-big {
        transform: scale(0.41, 0.7272727272727273) translateY(-3.25rem);
        visibility: hidden;
        opacity: 0;
    }

    .transform-scale-search-small {
        transform: scale(2.4390243902439024, 1.375) translateY(3.25rem);
        visibility: hidden;
        opacity: 0;
    }

    .text-truncation {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .modal-wrapper {
        align-items: center;
        display: flex;
        inset: 0;
        justify-content: center;
        position: fixed;
        z-index: 999999999;
    }

    .modal-mask {
        background: rgba(0, 0, 0, 0.5);
        position: fixed;
        inset: 0px;
    }

    .modal-container {
        border-radius: 8px;
        transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
        transform: none;
        margin: auto;
        position: relative;
        max-height: 693px;
        height: 80%;
        overflow: hidden;
        background-color: rgb(255, 255, 255);
    }
}

:root {
    --dark-theme: #18191a;
    --gray-dark: #242526;
    --search-gray-dark: #3a3b3c;
    --button-primary: #ff3b5c;
    --hover-button-primary: #fe2c55;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

html *::-webkit-scrollbar-thumb {
    background-color: #ff3b5c;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

html *::-webkit-scrollbar-track {
    background-color: #424249;
}

html *::-webkit-scrollbar {
    @media (max-width: 992px) {
        width: 0;
        height: 0;
    }
    width: 5px;
    height: 5px;
    background-color: transparent;
}

.mantine-DatePickerInput-wrapper {
    height: 100%;
    font-size: inherit;
    font-weight: inherit;
}

.mantine-DatePickerInput-input {
    height: inherit;
    color: white;
    font-size: 16px;
    font-family: sans-serif;
}

.mantine-DatePickerInput-placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: rgba(176, 179, 184, 0.7);
}
